#
#Mon May 29 13:16:53 GMT 2017
action_port=8091
algorithm_port=8092
appConfig=StreamPipes
context_path=/semantic-epa-backend
couchDbConnectionDbName=connection
couchDbHost=couchdb
couchDbMonitoringDbName=monitoring
couchDbNotificationDbName=notification
couchDbPipelineDbName=pipeline
couchDbPort=5984
couchDbProtocol=http
couchDbSepaInvocationDbName=invocation
couchDbUserDbName=users
esper_port=8090
hippoUrl=http\://ipe-koi09.fzi.de/kpimodeller
hostname=ipe-koi09.fzi.de
humanInspectionReportUrl=
humanMaintenanceReportUrl=
jmsHost=activemq
jmsPort=61616
jmsProtocol=tcp
kafkaHost=ipe-koi09
kafkaPort=9092
kafkaProtocol=http
marketplaceUrl=
panddaUrl=http\://ipe-koi09.fzi.de\:90/pandda_v2_2
podUrls=
server_url=http\://ipe-koi09.perimeter.fzi.de
sesameDbName=test-6
sesameUrl=http\://ipe-koi09.fzi.de\:8030/openrdf-sesame
sources_port=8089
streamStoryUrl=http\://ipe-koi09.fzi.de/streamstory
tcp_server_port=61616
tcp_server_url=tcp\://ipe-koi09.perimeter.fzi.de
webapp_port=80
zookeeperHost=zookeeper
zookeeperPort=2181
zookeeperProtocol=http
