zookeeperHost=zookeeper
zookeeperPort=2181
kafkaHost=ipe-koi09
kafkaPort=9092
streamStoryUrl=http://motorka.ijs.si/lisbon/
action_port=8091
algorithm_port=8093
esper_port=8090
hostname=http\://ipe-koi09.fzi.de
jmsHost=tcp\://activemq
jmsPort=61616
sources_port=8089
webappHost=ipe-koi09.fzi.de
webappPort=80
couchDbSepaInvocationDbName=invocation
twitterActive=false
hellaReplayActive=false
mhwirthReplayActive=false
taxiActive=false
proveItActive=false
randomNumberActive=true
nissatechRunning=false
iconScheme=http
iconHost=ipe-koi09.fzi.de
iconPort=80
simulationDelayMs=1000
simulationDelayNs=0
simulationMaxEvents=105000
waitEvery=1000
waitForMs=1
kafkaBatchSize=1000
kafkaLingerMs=0
kafkaAcks=0
flinkPort=6123
flinkHost=jobmanager
elasticsearchPort=9300
elasticsearchHost=elasticsearch
couchDbPort=5984
couchDbHost=couchdb
podHostname=ipe-koi09.fzi.de
podPort=8030
